.Footer {
  background: #FF3333;
  height: 100%;
  width: 100%;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
  }

  &-text {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &-text1 {
    color: #fff;
    font-size: 16px;
  }

  &-icons {
    

    .uil {
      color: #fff;
      font-size: 20px;
    }
  }

  @media (max-width: 500px) {
    &-content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px 0px;
      gap: 20px;
    }
  
    &-text {
      font-size: 20px;
      font-weight: 700;
      width: 100%;
      text-align: center;
  
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

}